<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="example.class03._1과제03.model.mapper.BoardMapper">

    <insert id="save" parameterType="example.class03._1과제03.model.dto.BoardDto">
        insert into class03board( title , content ) values( #{ title } , #{ content } );

    </insert>

    <select id="findAll" resultType="example.class03._1과제03.model.dto.BoardDto">
        select * from class03board;
    </select>

    <select id="find" parameterType="int" resultType="example.class03._1과제03.model.dto.BoardDto">
        select * from class03board where bno = #{ bno }
    </select>

    <update id="update" parameterType="example.class03._1과제03.model.dto.BoardDto">
        update class03board set title = #{ title }, content = #{ content } where bno = #{ bno }
    </update>

    <delete id="delete" parameterType="int">
        delete from class03board where bno = #{ bno }
    </delete>

</mapper>