<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="example.class03._3mvc2_mybatis.model.mapper.MyMapper">
    <!-- XML 주석은 HTML 과 동일하다. xml은 마크업언어-->
    <!-- [1] insert ->  <insert> 마크업  -->
    <!-- [1] insert -->
    <insert id="save" parameterType="example.class03._3mvc2_mybatis.model.dto.MyDto">
        insert into class03user (name, age) values (#{name}, #{age})
    </insert>

    <!-- [2] select all -->
    <select id="findAll" resultType="example.class03._3mvc2_mybatis.model.dto.MyDto">
        select * from class03user
    </select>

    <!-- [3] select one -->
    <select id="find" parameterType="int" resultType="example.class03._3mvc2_mybatis.model.dto.MyDto">
        select * from class03user where id = #{id}
    </select>

    <!-- [4] update -->
    <update id="update" parameterType="example.class03._3mvc2_mybatis.model.dto.MyDto">
        update class03user set name = #{name}, age = #{age} where id = #{id}
    </update>

    <!-- [5] delete -->
    <delete id="delete" parameterType="example.class03._3mvc2_mybatis.model.dto.MyDto">
        delete from class03user where id = #{id}
    </delete>

</mapper>